<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/icon.png" type="image/gif" sizes="16x16">
    <title>Health Predict</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


</head>

<body>

    <section class="header">

        <nav>
            <a href=""><img src="static/img/icon.png" alt=""></a>
            <div class="nav-links" id="nav_link">
                <ul>
                    <li><a href="/" >Home</a></li>
                    <li><a href="#footer">Contact Us</a></li>
                </ul>
                
            </div>
        </nav>

    </section>

    <section class="grid">

        

        <div class="row">
            <div class="row-item">
                <img src="static/img/cancer.png" alt="">
                <a class="active" href="cancer">Cancer</a>
            </div>

            <div class="row-item">
                <img src="static/img/diabetes.png" alt="">
                <a class="active" href="diabetes">Diabetes</a>
            </div>

            <div class="row-item">
                <img src="static/img/heart.png" alt="">
                <a class="active" href="heart">Heart</a>
            </div>

            <div class="row-item">
                <img src="static/img/kidney.png" alt="">
                <a class="active" href="kidney">Kidney</a>
            </div>

            <div class="row-item">
                <img src="static/img/liver.png" alt="">
                <a class="active" href="liver">Liver</a>
            </div>
        </div>
    </section>

    <section class="footer" id="footer">
        <h4>About Us</h4>
        <p>Hi, Check my Profiles out Here!</p>
            <div class="icons">
                <a href="https://play.google.com/store/apps/dev?id=7472207936115136139" target="_blank"><i class="fas fa-play"></i></i></a>
                <a href="https://www.linkedin.com/in/anandha-murthy-baskar-215328173/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        <p style="font-size: xx-small;"><i class="far fa-copyright"></i> Copyrights ANANDHA MURTHY B</p>    

    </section>
</body>

</html>