@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fec107;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(166, 182, 248, 0.7), rgba(223, 229, 252, 0.7)), url(/static/img/bg.jpg);
    position: relative;
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 80px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: tomato;
    display: block;
    margin: auto;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.grid {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.grid .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grid .row-item {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: white;
    padding: 20px 12px;
    margin-bottom: 5%;
    transition: 0.5s;
    flex: 1;
    box-sizing: border-box;
    margin: 2%;
}

.grid .row-item img {
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
}

.grid .row-item .active {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
}

@media(max-width: 700px) {
    .grid .row {
        flex-direction: column;
    }
    .grid .row-item {
        width: 250px;
        height: 300px;
        text-align: center;
    }
    nav img {
        width: 60px;
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    background: #d5dbd9;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
}

.footer .fab, .footer .fas {
    color: black;
    margin: 0 13px;
    cursor: pointer;
    font-size: x-large;
    padding: 18px 0;
}

.grid .row-item:hover {
    background: yellowgreen;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {
    max-width: 700px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputfield label {
    width: 300px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .inputfield .input, .wrapper .form .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .input:focus, .wrapper .form .inputfield .textarea:focus, .wrapper .form .inputfield .custom_select select:focus {
    border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
    font-size: 14px;
    color: #757575;
}

.wrapper .form .inputfield .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #fec107;
    display: block;
    position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
    background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #ffd658;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms {
        flex-direction: row;
    }
}